{% extends 'myadvert/base.html' %}

 {% block content %}
 <br/><br/>
 <div class="container">
  <div style="text-align:center ;">
    <div class="card mb-3" style="max-width: 540px;">{% for i in pic %}
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{i.image.url}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{i.title}}</h5>
            <p class="card-text">{{i.description}}</p>
            <p class="card-text"><small class="text-muted">{{i.title}}</small></p>
          </div>
        </div>{% endfor %}
      </div>
    </div>
    <br>
    <div>
      <div style="background-color: lightblue;color: rgb(9, 17, 14); text-align: center;">

        <h4><marquee dir="left-right">RECENT SITES DESIGNED BY VORUFA COMPANY</marquee></h4>
     
       </div>
  
          <!--Card-->
          <div class="col-sm-3">
          <div class="card ">
              <!--Card image-->
              <div class="view">{% for i in exp %}
                <img src="{{i.image.url}}" class="card-img-top"
                  alt="photo">
                  <h5 style="color: turquoise;">{{i.title}}L</h5>
                  <p class="card-text">{{i.description}}</p> {% endfor %}
              </div>
            </div>    
          </div>
            <!--/.Card-->

    </div><br>

  {% endblock %}