{% extends 'myadvert/base.html' %}

    {% block content %}

<div class="container" style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
<h2>Contact and make enquiries via:</h2><br>
<div class="social">
    <a href="#" id="share-wa" class="sharer button"style="margin-right: 20px;><i>Whatsup</i><i class="fa fa-3x fa-whatsapp"></i></a>

  <a href="#" id="share-fb" class="sharer button" style="margin-right: 20px;"><i>Facebook</i><i class="fa fa-3x fa-facebook-square"></i></a>
  <a href="#" id="share-tw" class="sharer button" style="margin-right: 20px;"><i>Twitter</i><i class="fa fa-3x fa-twitter-square"></i></a>
   
  <a href="#" id="share-gp" class="sharer button"style="margin-right: 20px;"><i> Google</i><i class="fa fa-3x fa-google-plus-square"></i></a>
  <a href="#" id="share-em" class="sharer button"style="margin-right: 20px;style="margin-right: 100px;> <i>Envelope</i><i class="fa fa-3x fa-envelope-square"></i></a>
</div>
  
</div><br>


<ul style="color: blue;align-content: center;">
  <div style="text-align: center;">
  
 <b> Location:</b> Matuu-yanza opposite jambo supermarket <br>
 <b> Email:</b> bonniemuia254@gmail.com <br>
 <b>Whatsapp:</b> 0756783456bonnie <br>
 <b>phone:</b> 0723455555 <br>
  
  </div>
</ul>

{% endblock %}