{% extends 'myadvert/base.html' %}

{% block content %}
  <p><h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">VORUFA CONSTRUCTION SOLUTION</h1></p>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for slides in slides %}
      <div class="carousel-item {% if forloop.first %} active{% endif %}">
        <img class="d-block w-100"  style="height: 350px;object-fit: cover; align-items: center;" src="{{slides.image.url}}">
      </div>
      {% endfor %}
    </div>
  </div><hr style="background-color: #000000;"><br><h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">HOT PRODUCT SERVICES<span><i class="fa fa-thumbs-down"  aria-hidden="true"></i></span></h2><hr style="background-color: #000000;">
  






  <div class="row">
    {% for seen in seen %}
    <div class="col-sm-4">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="{{ seen.image.url }}" width="259" height="180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{seen.title}}</h5>
        <p class="card-text" style=" overflow: auto; height: 100%;">{{seen.description}}</p>
      </div>
    </div>
    </div>
    </div>
    {% endfor %}
  </div>
 
  
 {% endblock %}
