{% extends 'myadvert/base.html' %}

{% block content %}
  <p><h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">VORUFA CONSTRUCTION SOLUTION</h1></p>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for slides in slides %}
      <div class="carousel-item {% if forloop.first %} active{% endif %}">
        <img class="d-block w-100"  style="height: 350px;object-fit: cover; align-items: center;" src="{{slides.image.url}}">
      </div>
      {% endfor %}
    </div>
  </div><hr style="background-color: #000000;"><br><h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">HOT PRODUCT SERVICES<span><i class="fa fa-thumbs-down"  aria-hidden="true"></i></span></h2><hr style="background-color: #000000;">
  

  
  <section class="text-center mb-4 container">
    <!--Grid row-->
    <div class="row wow fadeIn">
      <!--Grid column-->{% for seen in seen %}
      <div class="col-lg-3 col-md-6 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card image-->
          <div class="view overlay">
            <img src="{{ seen.image.url }}" class="card-img-top"
              alt="">
            <a href="{% url 'product' item.slug %}" >
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
              <h5>{{seen.title}}</h5>
              <p>{{seen.description}}</p>
          </div>
          <!--Card content-->
        </div>
        <!--Card-->
  
      </div>
      {% endfor %}
      <!--Grid column-->
    </div>
  </section>
  
 {% endblock %}
